@import 'vendor/bootstrap/variables';
@import 'compass';
@import 'vars';

.b-site_index {
    &__section-group {
        @media (min-width: $screen-xs-min) {
            @include clearfix;
            margin-top: 1px;
            position: relative;
        }

        @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
            margin-top: map-get($css, line-height) * 2;
        }
    }

    &__section {
        &_isolated {
            background-color: map-get($color, white);
            margin-top: 1px;
            padding-top: map-get($css, line-height) - 1px;

            @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                @include border-radius($border-radius-large);
                margin-top: map-get($css, line-height);
                padding-top: map-get($css, line-height);
            }
        }
    }
}

.b-description {
    background-color: map-get($color, green);
    padding-bottom: map-get($css, line-height);
    padding-top: map-get($css, line-height);

    @media (min-width: $screen-xs-min) {
        float: right;
        margin-left: 50%;
        padding-top: map-get($css, line-height) - 1px;
    }

    @media (min-width: $screen-sm-min) {
        padding-left: $grid-gutter-width * .5;
        padding-right: $grid-gutter-width * .5;
    }

    @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
        @include border-top-right-radius($border-radius-large);
        padding-top: map-get($css, line-height);
    }

    &__h2 {
        color: map-get($color, white);
        font-size: 1.25em;
        font-weight: map-get(map-get(map-get($font, sans), weight), lighter);
        line-height: 1.25;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center;

        @media (min-width: $screen-xs-min) {
            font-size: 1.5em;
        }

        @media (min-width: $screen-sm-min) {
            font-size: 1.75em;
            text-align: left;
        }

        &.container {
            @media (min-width: $screen-xs-min) {
                width: auto;
            }
        }
    }
}

.b-randomImage {
    @media (min-width: $screen-xs-min) {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 50%;
        top: 0;
    }

    &__img {
        display: block;
        width: 100%;

        @media (min-width: $screen-xs-min) {
            height: 100%;
            @include transform(translateX(-15%));
            width: auto;
        }

        @media (min-width: $screen-sm-min) {
            @include transform(none);
        }

        @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
            @include border-left-radius($border-radius-large);
        }
    }
}

.b-about {
    background-color: map-get($color, lighter-brown);
    color: map-get($color, brown);
    padding-bottom: map-get($css, line-height);
    padding-top: map-get($css, line-height) * .5;

    @media (min-width: $screen-xs-min) {
        float: right;
        margin-left: 50%;
    }

    @media (min-width: $screen-sm-min) {
        padding-left: $grid-gutter-width * .5;
        padding-right: $grid-gutter-width * .5;
    }

    @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
        @include border-bottom-right-radius($border-radius-large);
    }

    .container {
        @media (min-width: $screen-xs-min) {
            width: auto;
        }
    }
}
