@import 'vendor/bootstrap/variables';
@import 'compass';
@import 'vars';

.b-site_index,
.b-sidebar,
.b-map {
    height: 100%;
}

.b-sidebar,
.b-map {
    padding-top: $navbar-height;
}

.b-sidebar {
    float: right;
    width: 25%;
}

.b-map {
    width: 75%;

    &__canvas {
        height: 100%;
    }
}
