@import 'vendor/bootstrap/variables';
@import 'compass';
@import 'vars';

.b-site_index {
    height: 100%;
}

.js-b-site_index {}

.b-sidebar,
.b-map {
    padding-top: $navbar-height;
}

.b-sidebar {
    float: right;
    height: 100%;
    min-width: $screen-xs-min * .75;
    position: relative;
    width: 25%;
}

.b-toolbox {
    height: $navbar-height;
    line-height: $navbar-height;
    text-align: center;

    &__createUpdate {
        display: none;
    }

    &--footer {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;

        &__createUpdate {
            display: none;
        }
    }
}

.b-steps {
    display: none;
}

.b-map {
    height: 100%;

    &__canvas {
        height: 100%;
    }
}
