@import 'vendor/main';
@import 'vendor/bootstrap/variables',
        'vendor/bootstrap/mixins',
        'vendor/bootstrap/normalize',
        'vendor/bootstrap/scaffolding',
        'vendor/bootstrap/grid',
        'vendor/bootstrap/forms',
        'vendor/bootstrap/buttons',
        'vendor/bootstrap/input-groups',
        'vendor/bootstrap/navs',
        'vendor/bootstrap/navbar';//,
        //'vendor/bootstrap/responsive-utilities';
@import 'compass';
@import 'vars';

html,
body {
    height: 100%;
}

body {
    background-color: map-get($color, bg-footer) !important;
    cursor: default;
    //font-family: map-get(map-get($font, sans), family) !important;
    //line-height: map-get($css, line-height) !important;

    a {
        color: map-get($color, blue);
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: map-get($css, line-height);
        margin-top: map-get($css, line-height);
    }

    hr {
        //border-color: map-get($color, bg-footer);
        margin-bottom: map-get($css, line-height) - 1px;
        margin-top: map-get($css, line-height);
    }
}

p {
    margin-bottom: map-get($css, line-height);
    margin-top: map-get($css, line-height);
}

ul {
    margin-bottom: map-get($css, line-height);
    margin-top: map-get($css, line-height);
    padding-left: $grid-gutter-width;
}

.clear {
    clear: both;
}

.b-navbar {
    left: 0;
    position: absolute;
    right: 0;
}

.b-search {
    .form-group {
        display: inline;
    }

    .input-group {
        display: table;
    }

    .input-group-btn.input-group-btn {
        width: 1%;
    }
}

.b-body {
    height: 100%;
}
